<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout::dynamic(~{::title},~{::header},~{::.content})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTNsBike | Đổi mật khẩu</title>
</head>
<body>
    <header th:insert="~{/user/common/header::header}"></header>
    <div class="content">
         <!-- Breadcrumb Start -->
         <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li class="active"><a href="changepass.html">Trang đổi mật khẩu</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Register Account Start -->
        <div class="register-account ptb-20 ptb-sm-60">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="register-title">
                            <h3 class="mb-10">ĐỔI MẬT KHẨU</h3>
                        </div>
                    </div>
                </div>
                <!-- Row End -->
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-register" th:action="@{/changepass.html}"  th:method="post" th:object="${changePassForm}">
                            <fieldset>
                                <legend>Mật khẩu của bạn</legend>
                                <div class="form-group d-md-flex align-items-md-center">
                                    <label class="control-label col-md-2" for="pwd"><span class="require">*</span>Mật khẩu cũ:</label>
                                    <div class="col-md-10">
                                        <input th:field="*{password}" type="password" class="form-control" id="pwd" placeholder="Mật khẩu cũ...">
                                        <i class="erros_mess" th:errors="*{password}"></i>
                                        <p class="erros_mess">[[${mess1}]]</p>
                                    </div>
                                </div>
                                <div class="form-group d-md-flex align-items-md-center">
                                    <label class="control-label col-md-2" for="pwd-confirm"><span class="require">*</span>Mật khẩu mới</label>
                                    <div class="col-md-10">
                                        <input th:field="*{newpassword}" type="password" class="form-control" id="pwd-confirm" placeholder="Mật khẩu mới...">
                                        <i class="erros_mess" th:errors="*{newpassword}"></i>
                                    </div>
                                </div>
                                <div class="form-group d-md-flex align-items-md-center">
                                    <label class="control-label col-md-2" for="pwd-confirm"><span class="require">*</span>Xác nhận mật khẩu mới</label>
                                    <div class="col-md-10">
                                        <input th:field="*{confirmpassword}" type="password" class="form-control" id="pwd-confirm" placeholder="Xác nhận mật khẩu mới...">
                                        <i class="erros_mess" th:errors="*{confirmpassword}"></i>
                                        <p class="erros_mess">[[${mess2}]]</p>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="terms">
                                <div class="float-md-right">
                                    <input type="submit" value="Đổi mật khẩu" class="return-customer-btn">
                                </div>
                            </div>
                            <div th:hidden="${mess == null}">
                                 <p class="alert alert-success" role="alert" >[[${mess}]]</p>
                            </div>
                           
                        </form>
                    </div>
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Register Account End -->
    </div>
</body>
</html>