<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	th:replace="~{/user/layout::dynamic(~{::title},~{::header},~{::.content})}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DTNsBike | Đăng nhập</title>


</head>

<body>
	<header th:insert="~{/user/common/header::header}"></header>
	<div class="content">
		<!-- Breadcrumb Start -->
		<div class="breadcrumb-area mt-30">
			<div class="container">
				<div class="breadcrumb">
					<ul class="d-flex align-items-center">
						<li><a href="index.html">Trang chủ</a></li>
						<li class="active"><a href="login.html">Trang đăng nhập</a></li>
					</ul>
				</div>
			</div>
			<!-- Container End -->
		</div>
		<!-- Breadcrumb End -->
		<!-- LogIn Page Start -->
		<div class="log-in ptb-20 ptb-sm-60">
			<div class="container">
				<div class="row">
					<!-- New Customer Start -->
					<div class="col-md-6">
						<div class="well mb-sm-30">
							<div class="new-customer">
								<h3 class="custom-title">khách hàng mới</h3>
								<p class="mtb-10"><strong>Đăng ký</strong></p>
								<p>Bằng cách tạo tài khoản, bạn sẽ có thể mua sắm nhanh hơn, cập nhật trạng thái đơn
									hàng và theo dõi các đơn đặt hàng bạn đã thực hiện trước đó</p>
								<a class="customer-btn" href="register.html">Tiếp tục</a>
							</div>
						</div>
					</div>
					<!-- New Customer End -->
					<!-- Returning Customer Start th:action="" th:method="post" -->
					<div class="col-md-6">
						<div class="well">
							<div class="return-customer">
								<h3 class="mb-10 custom-title">đăng nhập</h3>
								<div th:if="${#strings.equals(param.err, '123')}" class="alert alert-danger"
									role="alert">
									Tài khoản và mật khẩu chưa chính xác!
								</div>
								<th:block th:switch="${message}">
									<div th:case="'123'" class="alert alert-danger" role="alert">
										Đăng nhập thất bại!
									</div>
									<div th:case="'456'" class="alert alert-success" role="alert">
										Đăng nhập thành công!
									</div>
									<div th:case="'789'" class="alert alert-warning" role="alert">
										Tài khoản đã bị khóa!
									</div>
									<div th:case="'1011'" class="alert alert-danger" role="alert">
										Tài khoản và mật khẩu chưa chính xác!
									</div>
								</th:block>

								<form th:action="@{/login.html}" method="post" th:object="${loginForm}">
									<div class="form-group">
										<label
											th:utext="|${#fields.hasErrors('pass')?'<b>Tên đăng nhập: </b>':'<b>Tên đăng nhập</b>'}|">
											Tên đăng nhập:
										</label>
										<span class="erros_mess" th:errors="*{username}"></span>
										<input th:field="*{username}" placeholder="Tên đăng nhập" id="input-email"
											class="form-control">
									</div>
									<div class="form-group">
										<label
											th:utext="|${#fields.hasErrors('pass')?'<b>Mật khẩu: </b>':'<b>Mật khẩu</b>'}|">
											Mật khẩu:
										</label>
										<span class="erros_mess" th:errors="*{pass}"></span>
										<input th:field="*{pass}" type="password" placeholder="Mật khẩu"
											id="input-passwords" class="form-control" value>
									</div>
									<p class="lost-password"><a href="forgot-password.html">Quên mật khẩu?</a></p>
									<button class="return-customer-btn">Đăng
										nhập</button>
									<input type="submit" value="Tài khoản Google" class="return-customer-btn">
								</form>
								<script th:inline="javascript">
									var myData = /*[[${loginForm.pass}]]*/ 'default';
									document.getElementById("input-passwords").value = myData;
								</script>
							</div>
						</div>
					</div>
					<!-- Returning Customer End -->
				</div>
				<!-- Row End -->
			</div>
			<!-- Container End -->
		</div>
		<!-- LogIn Page End -->
	</div>
</body>

</html>