<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout::dynamic(~{::title},~{::header},~{::.content})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTNsBike | Giới thiệu</title>
</head>
<body>
    <header th:insert="~{/user/common/header::header}"></header>
    <div class="content">
         <!-- Breadcrumb Start -->
         <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li class="active"><a href="about.html">Trang giới thiệu</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- About Us Start Here -->
        <div class="about-us pt-20 pt-sm-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="sidebar-img mb-all-30">
                            <img th:src="@{/user/img/blog/banner1.png}" alt="single-blog-img">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-desc">
                            <h3 class="mb-10 about-title">GIỚI THIỆU</h3>
                            <p class="mb-20">Đầu tiên <strong>DTNsBike</strong> xin phép được gửi tới Quý khách hàng lời chúc tốt đẹp nhất. Xin chân thành cảm ơn Quý khách hàng đã ghé thăm website của chúng tôi.</p>
                            <p class="mb-20"><strong>DTNsBike</strong> chuyên mua bán, phân phối Xe đạp các loại tại Việt Nam. Với bề dày kinh nghiệm trong ngành xe đạp trên 2 năm, Đến với chúng tôi Quý vị sẽ hài lòng về chất lượng, mẫu mã đa dạng và phù hợp với mọi lứa tuổi, mọi phong cách.</p>
                            <p>Chúng tôi tin tưởng rằng Xe đạp sẽ là sự lựa chọn thông minh nhất cho Quý khách không chỉ trong hiện tại mà còn trong tương lai. Với phương châm luôn luôn vì khách hàng và hướng tới dịch vụ vàng.
                            Chúng tôi luôn sẵn sàng phục vụ quý khách. Dịch vụ bảo hành và bảo trì luôn được chúng tôi quan tâm và cam kết thực hiện. Chúng tôi luôn mong muốn được hợp tác với quý khách là các đại lý, nhà phân phối và quý khách tiêu dùng trên toàn quốc.
                            </p>
                            <a href="#" class="return-customer-btn read-more">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- About Us End Here -->
        <!-- About Us Team Start Here -->
        <div class="about-team pt-100 pt-sm-60">
            <div class="container">
               <h3 class="mb-30 about-title">DTN Team :)))</h3>
                <div class="row text-center">
                    <!-- Single Team Start Here -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="single-team mb-all-30">
                            <div class="team-img sidebar-img">
                                <img th:src="@{/user/img/team/thuc.jpg}" alt="team-image">
                                <div class="team-link">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info">
                                <h4>Nguyễn Đoàn Chí Thức</h4>
                                <p>Team Member</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team End Here -->
                    <!-- Single Team Start Here -->
                    <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                        <div class="single-team mb-all-30">
                            <div class="team-img sidebar-img">
                                <img th:src="@{/user/img/team/loc.jpg}" alt="team-image">
                                <div class="team-link">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info">
                                <h4>Trương Tấn Lộc</h4>
                                <p>Team Member</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team End Here -->
                     <!-- Single Team Start Here -->
                    <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                        <div class="single-team mb-xxs-30">
                            <div class="team-img sidebar-img">
                                <img th:src="@{/user/img/team/dat.jpg}" alt="team-image">
                                <div class="team-link">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info">
                                <h4>Huỳnh Văn Đạt</h4>
                                <p class="text-danger">Team Leader</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team End Here -->
                     <!-- Single Team Start Here -->
                    <div class="col-lg-2 col-md-6 col-sm-6 col-6">
                        <div class="single-team">
                            <div class="team-img sidebar-img">
                                <img th:src="@{/user/img/team/phuc.jpg}" alt="team-image">
                                <div class="team-link">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info">
                                <h4>Hồ Thanh Phúc</h4>
                                <p>Team Member</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team End Here -->
                     <!-- Single Team Start Here -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                        <div class="single-team">
                            <div class="team-img sidebar-img">
                                <img th:src="@{/user/img/team/me.jpg}" alt="team-image">
                                <div class="team-link">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="team-info">
                                <h4>Võ Lê Nhật Linh</h4>
                                <p>Team Member</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Team End Here -->
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- About Us Team End Here -->
    </div>
</body>
</html>