<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout::dynamic(~{::title},~{::header},~{::.content})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTNsBike | Trang chủ</title>
</head>
<body>
    <header th:insert="~{/user/common/headerIndex::header}"></header>
    <div class="content" ng-controller="cartCtr">
        <!-- Hot Deal Products Start Here -->
    <div class="hot-deal-products off-white-bg pb-90 pb-sm-50" >
        <div class="container">
           <!-- Product Title Start -->
           <div class="post-title pb-30">
               <h2>ưu đãi hấp dẫn</h2>
           </div>
           <!-- Product Title End -->
            <!-- Hot Deal Product Activation Start -->
            <div class="hot-deal-active owl-carousel" >
                <!-- Single Product Start -->
                <div class="single-product" th:each="p:${product}">
                    <!-- Product Image Start -->
                    <div class="pro-img">
                        <a th:href="@{|/product.html?id=${p.id}|}">
                            <img class="primary-img" th:src="@{|/rest/uploads/productImg/${p.img}|}" alt="single-product">
                        </a>
                        <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                    </div>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="pro-content">
                        <div class="pro-info">
                            <h4><a th:utext="${p.name}" href="#"></a></h4>
                            <p><span th:utext="|${#numbers.formatInteger(p.price-(p.price*p.sale/100),3,'POINT')} VNĐ|" class="price"> </span></p>
                            <p><del th:if="${p.sale>0}" class="prev-price">[[${#numbers.formatInteger(p.price,3,'POINT')}]] VNĐ</del></p>
                            <div class="label-product l_sale" th:if="${p.sale>0}"><span th:utext="${p.sale}"></span><span class="symbol-percent">%</span></div>
                        </div>
                        <div class="pro-actions">
                            <div class="actions-primary">
                                <a href="" title="Add to Cart" th:attr="ng-click=|addCart(${p.id})|"> + Thêm vào giỏ hàng</a>
                            </div>
                            <div class="actions-secondary">
                                <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Thêm vào danh sách yêu thích</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- Product Content End -->
                </div>
                <!-- Single Product End -->
            </div>
            <!-- Hot Deal Product Active End -->

        </div>
        <!-- Container End -->
    </div>
    <!-- Hot Deal Products End Here -->

    <!-- Big Banner Start Here -->
    <div class="big-banner mt-100 pb-85 mt-sm-60 pb-sm-45">
        <div class="container banner-2">
            <div class="banner-box" style="width: 100%;">
                <div class="col-img">
                    <a href="#"><img th:src="@{/user/img/banner/banner3-1.jpg}" alt="banner 3"></a>
                </div>
                <div class="col-img">
                    <a href="#"><img th:src="@{/user/img/banner/banner3-2.jpg}" alt="banner 3"></a>
                </div>
            </div>
            <div class="banner-box" style="width: 100%;">
                <div class="col-img">
                    <a href="#"><img th:src="@{/user/img/banner/banner3-4.png}" alt="banner 3"></a>
                </div>
                <div class="col-img">
                    <a href="#"><img th:src="@{/user/img/banner/banner3-5.png}" alt="banner 3"></a>
                </div>
            </div>
            
            <div class="banner-box" style="width: 100%;">
                <div class="col-img">
                    <a href="#"><img th:src="@{/user/img/banner/banner3-7.jpg}" alt="banner 3"></a>
                </div>
                <div class="col-img">
                    <a href="#"><img th:src="@{/user/img/banner/banner3-8.jpg}" alt="banner 3"></a>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Big Banner End Here -->

    <!-- Arrivals Products Area Start Here -->
    <div class="second-arrivals-product pb-45 pb-sm-5">
        <div class="container">
            <div class="main-product-tab-area">
                <div class="tab-menu mb-25">
                    <div class="section-ttitle">
                        <h2>Hot</h2>
                   </div>
                    <!-- Nav tabs -->
                    <ul class="nav tabs-area" role="tablist">
                        <li class="nav-item" th:each="c:${cate}">
                            <a class="nav-link" th:classappend="${c.id == cateid?'active':''}"  th:href="@{|?cateid=${c.id}|}">[[${c.name}]] </a>
                        </li>
                    </ul>                       

                </div> 

                <!-- Tab Contetn Start -->
                <div class="tab-content">
                    <div id="fshion2" class="tab-pane fade show active" >
                        <!-- Arrivals Product Activation Start Here -->
                        <div class="best-seller-pro-active owl-carousel">
                                <!-- Single Product Start -->
                                <div class="single-product" th:each="pro:${pro_cate}">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a th:href="@{|/product.html?id=${pro.id}|}">
                                            <img class="primary-img" th:src="@{|/rest/uploads/productImg/${pro.img}|}" alt="single-product">
                                        </a>
                                        <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <div class="pro-info">
                                            <h4><a th:utext="${pro.name}" href="#"></a></h4>
                                                        <p><span th:utext="|${#numbers.formatInteger(pro.price-(pro.price*pro.sale/100),3,'POINT')} VNĐ|" class="price"> </span></p>
                                                        <p><del th:if="${pro.sale>0}" class="prev-price">[[${#numbers.formatInteger(pro.price,3,'POINT')}]] VNĐ</del></p>
                                                        <div class="label-product l_sale" th:if="${pro.sale>0}"><span th:utext="${pro.sale}"></span><span class="symbol-percent">%</span></div>
                                        </div>
                                        <div class="pro-actions">
                                            <div class="actions-primary">
                                                <a href="" title="Add to Cart" th:attr="ng-click=|addCart(${pro.id})|"> + Thêm vào giỏ hàng</a>
                                            </div>
                                            <div class="actions-secondary">
                                                <a href="#" title="Thêm vào mặt hàng yêu thích"><i class="lnr lnr-heart"></i> <span>(+) Yêu thích</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                                <!-- Single Product End -->
                        </div>
                        <!-- Arrivals Product Activation End Here -->
                    </div>
                </div>
                <!-- Tab Content End -->
            </div>
            <!-- main-product-tab-area-->
        </div>
        <!-- Container End -->
    </div>
    <!-- Arrivals Products Area End Here -->
    <!-- Like Products Area Start Here -->
    <div class="like-product ptb-95 off-white-bg pt-sm-50 pb-sm-55 ">
        <div class="container">
            <div class="like-product-area"> 
                <h2 class="section-ttitle2 mb-30">Bạn có thể thích </h2>
                <!-- Arrivals Product Activation Start Here -->
                <div class="like-pro-active owl-carousel">
                    <!-- Double Product Start -->
                    <div class="double-product" th:each="p:${product}">
                        <!-- Single Product Start -->
                        <div class="single-product">
                            <!-- Product Image Start -->
                            <div class="pro-img">
                                <a th:href="@{|/product.html?id=${p.id}|}">
                                    <img class="primary-img" th:src="@{|/rest/uploads/productImg/${p.img}|}" alt="single-product">
                                </a>
                                <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                            </div>
                            <!-- Product Image End -->
                            <!-- Product Content Start -->
                            <div class="pro-content">
                                <div class="pro-info">
                                    <h4><a th:utext="${p.name}" href="#"></a></h4>
                                    <p><span th:utext="|${#numbers.formatInteger(p.price-(p.price*p.sale/100),3,'POINT')} VNĐ|" class="price"> </span></p>
                                    <p><del th:if="${p.sale>0}" class="prev-price">[[${#numbers.formatInteger(p.price,3,'POINT')}]] VNĐ</del></p>
                                    <div class="label-product l_sale" th:if="${p.sale>0}"><span th:utext="${p.sale}"></span><span class="symbol-percent">%</span></div>
                                </div>
                                <div class="pro-actions">
                                    <div class="actions-primary">
                                        <a href="" th:attr="ng-click=|addCart(${p.id})|" title="Add to Cart" > + Thêm vào giỏ hàng</a>
                                    </div>
                                    <div class="actions-secondary">
                                        <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Thêm vào danh sách yêu thích</span></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Product Content End -->
                        </div>
                        <!-- Single Product End -->
                    
                    </div>
                    <!-- Double Product End -->                     
                </div>
                <!-- Arrivals Product Activation End Here -->
            </div>
            <!-- main-product-tab-area-->
        </div>
        <!-- Container End -->
    </div>
    <!-- Lile Products Area End Here -->
    <!-- Brand Banner Area Start Here -->
    <div class="main-brand-banner pt-95 pb-100 pt-sm-55 pb-sm-60">
        <div class="container">
            <div class="section-ttitle mb-20">
                <h2>Thương hiệu nổi bật</h2>
           </div>
            <div class="row no-gutters">
                <div class="col-lg-3">
                    <div class="col-img">
                        <img th:src="@{/user/img/banner/h1-band1.jpg}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Brand Banner Start -->
                    <div class="brand-banner owl-carousel">
                        <div class="single-brand">
                            <a href="#"><img class="img" th:src="@{/user/img/brand/1.jpg}" alt="brand-image"></a>
                            <a href="#"><img th:src="@{/user/img/brand/2.jpg}" alt="brand-image"></a>
                            <a href="#"><img th:src="@{/user/img/brand/3.jpg}" alt="brand-image"></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img class="img" th:src="@{/user/img/brand/1.jpg}" alt="brand-image"></a>
                            <a href="#"><img th:src="@{/user/img/brand/2.jpg}" alt="brand-image"></a>
                            <a href="#"><img th:src="@{/user/img/brand/3.jpg}" alt="brand-image"></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img th:src="@{/user/img/brand/1.jpg}" alt="brand-image"></a>
                            <a href="#"><img th:src="@{/user/img/brand/2.jpg}" alt="brand-image"></a>
                            <a href="#"><img th:src="@{/user/img/brand/3.jpg}" alt="brand-image"></a>

                        </div>
                        <div class="single-brand">
                            <a href="#"><img th:src="@{/user/img/brand/2.jpg}" alt="brand-image"></a>
                            <a href="#"><img th:src="@{/user/img/brand/3.jpg}" alt="brand-image"></a>
                            <a href="#"><img th:src="@{/user/img/brand/4.jpg}" alt="brand-image"></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img th:src="@{/user/img/brand/2.jpg}" alt="brand-image"></a>
                            <a href="#"><img th:src="@{/user/img/brand/3.jpg}" alt="brand-image"></a>
                            <a href="#"><img th:src="@{/user/img/brand/4.jpg}" alt="brand-image"></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img th:src="@{/user/img/brand/2.jpg}" alt="brand-image"></a>
                            <a href="#"><img th:src="@{/user/img/brand/3.jpg}" alt="brand-image"></a>
                            <a href="#"><img th:src="@{/user/img/brand/4.jpg}" alt="brand-image"></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img th:src="@{/user/img/brand/2.jpg}" alt="brand-image"></a>
                            <a href="#"><img th:src="@{/user/img/brand/3.jpg}" alt="brand-image"></a>
                            <a href="#"><img th:src="@{/user/img/brand/4.jpg}" alt="brand-image"></a>
                        </div>
                    </div>
                    <!-- Brand Banner End -->                        

                </div>
                <div class="col-lg-3">
                    <div class="col-img">
                        <img th:src="@{/user/img/banner/h1-band2.jpg}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Brand Banner Area End Here -->
    <div class="big-banner pb-100 pb-sm-60">
        <div class="container big-banner-box">
            <div class="col-img">
                <a href="#">
                <img th:src="@{/user/img/banner/bn1.png}" alt="">
                </a>
            </div>
            <div class="col-img">
                <a href="#">
                <img th:src="@{/user/img/banner/bn2.jpg}" alt="">
                </a>
            </div>
        </div>
        <!-- Container End -->
    </div>
    </div>
</body>
</html>