<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/user/layout::dynamic(~{::title},~{::header},~{::.content})}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTNsBike | Cập nhật tài khoản</title>
</head>

<body>
    <header th:insert="~{/user/common/header::header}"></header>
    <div class="content">
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li class="active"><a href="register.html">Cập nhật tài khoản</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Register Account Start -->
        <div class="contact-area ptb-sm-60 mt-5 mb-3">
            <div class="container">
                <form th:action="@{/update_account.html}" method="post" th:object="${updateAccount}" enctype="multipart/form-data"> 
                    <div class="row">
                        <div class="col-12">
                            <h3 class="mb-20" id="tableAddress">THÔNG TIN TÀI KHOẢN</h3>
                            <th:block th:if="${message}!=null">
                                <div th:class="|${alert} alert|" th:text="${message}" role="alert"></div>
                            </th:block>
                            <p class="text-capitalize mb-20">Lưu ý: Những trường (*) là bắt buộc.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div id="contact-form" class="contact-form">
                                <div class="address-wrapper row">
                                    <div class="col-md-12">
                                        <div class="address-fname">
                                            <label class="control-label" for="f-name"><span class="require">*</span>Họ
                                                tên: <span class="require" th:errors="*{fullname}"></span></label>
                                            <input class="form-control" th:field="*{fullname}" placeholder="Họ tên...">

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="address-email">
                                            <label class="control-label" for="f-name"><span
                                                    class="require">*</span>Email:
                                                <span class="require" th:errors="*{email}"></span></label>
                                            <input class="form-control" th:field="*{email}" placeholder="Email...">

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="address-web">
                                            <label class="control-label" for="f-name"><span class="require">*</span>Số
                                                điện
                                                thoại: <span class="require" th:errors="*{phone}"></span></label>
                                            <input class="form-control" th:field="*{phone}"
                                                placeholder="Số điện thoại...">

                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-2 text-right" id="messageAdr">
                                        <input value="Cập nhật" class="btn btn-primary" type="submit">
                                        <a class="btn btn-warning" th:href="@{/update_account.html}">Làm mới</a>
                                    </div>
                                </div>
                            </div>
                            <p class="form-message">

                        </div>
                        <div class="col-4" ng-controller="myctr">
                            <div id="contact-form" class="contact-form">
                                <div class="address-wrapper row">
                                    <div class="col-md-12">
                                        <label class="control-label" for="f-name"><span class="require">*</span>Ảnh đại
                                            diện</label>
                                        <!-- <div class="address-fname d-flex" ng-repeat="filename in filenames">
                                            <img ng-src="{{url(filename)}}"
                                                style="height:300px; width: 300px">
                                        </div> -->
                                         <div class="address-fname d-flex" >
                                            <img th:src="@{|/uploads/avatar/*{photo}|}"
                                                style="height:300px; width: 300px">
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-2">
                                        <div class="address-fname d-flex">
                                            <!-- <input type="file" accept="image/*" onchange="angular.element(this).scope().upload(this.files)"> -->
                                            <input type="file" accept="image/*" >
                                        </div>
                                    </div>
                                     <div class="col-md-12 mt-2 " >
                                        <input value="Cập nhật" class="btn btn-primary" type="submit">
                                        <a class="btn btn-warning">Làm mới</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="row" th:if="${listAddress.size}>0">
                    <div class="col-12">
                        <h3 class="mb-20">Danh sách địa chỉ</h3>
                        <th:block th:if="${messageAdr}!=null">
                            <div th:class="|${alert} alert|" th:text="${messageAdr}" role="alert"></div>
                        </th:block>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="w-10">
                                            <a style="text-decoration: none;" class="text-dark d-flex">
                                                STT
                                            </a>
                                        </th>
                                        <th class="w-50">
                                            <a style="text-decoration: none;" class="text-dark">
                                                Địa chỉ
                                            </a>
                                        </th>
                                        <th class="w-25">Thao tác</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:each="list,viTri: ${listAddress}" th:object="${list}">
                                        <td>
                                            [[${viTri.index+1}]]
                                        </td>
                                        <td> [[*{address}]]</td>
                                        <td>
                                            <a href="#!account-form" class="text-primary" data-toggle="modal"
                                                data-target="#modalUpdate"
                                                th:attr="onclick=|updateAddress('*{address}','*{id}')|"
                                                style="font-size: 28px;text-decoration: none;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path
                                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                    <path fill-rule="evenodd"
                                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                </svg>
                                            </a>
                                            <a th:if="${listAddress.size}>1" class="text-danger"
                                                th:attr="onclick=|deleteAddress('*{address}','*{id}')|"
                                                data-toggle="modal" data-target="#modalDelete"
                                                style="font-size: 28px;text-decoration: none;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>

                                <tfoot>
                                    <tr>
                                        <th>
                                            <a href="#" style="text-decoration: none;" class="text-dark">
                                                STT
                                            </a>
                                        </th>
                                        <th>
                                            <a href="#" style="text-decoration: none;" class="text-dark">
                                                Địa chỉ
                                            </a>
                                        </th>
                                        <th>
                                            <a data-toggle="modal" data-target="#modalCreate" class="text-success"><i
                                                    class="fa fa-plus-circle " aria-hidden="true"></i> Thêm địa chỉ</a>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- Modal Delete -->
                    <!-- Modal -->
                    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content text-center">
                                <div class="modal-header border-0">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="130" height="130" fill="orange"
                                        class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                                        <path
                                            d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                                        <path
                                            d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
                                    </svg>
                                    <p class="mt-2" style="font-size: 17px;">Bạn chắc chắn muốn xóa đại chỉ <strong
                                            class="address"></strong> ?
                                    </p>
                                </div>
                                <div class="text-center mb-5">
                                    <a type="button" class="btn btn-success text-white " id="deleteAddress">Chắc chắn!
                                    </a>
                                    <button type="button" class="btn btn-danger text-white"
                                        data-dismiss="modal">Không!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Create End -->
                    <!-- Modal Create -->
                    <!-- Modal -->
                    <div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form th:action="@{/update_account.html/create}" th:method="post"
                                    onsubmit="return createAdr()">
                                    <div class="modal-header border-0">
                                        <h3>Thêm địa chỉ</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="contact-form" class="contact-form">
                                            <div class="address-wrapper row">
                                                <div class="col-md-12">
                                                    <div class="address-fname">
                                                        <label class="control-label" for="f-name">Địa chỉ:<span
                                                                class="require" id="errorsAdr"></span></label>
                                                        <textarea class="form-control" name="newAddress" id="newAddress"
                                                            placeholder="Nhập địa chỉ..."></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer text-right">
                                        <button class="btn btn-success text-white" id="CreateAddress"
                                            onclick="createAdr()">Thêm</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Create End -->

                    <!-- Modal Update Start -->
                    <!-- Modal -->
                    <div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true" onclick="$('.errorsAdr').text('')">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form th:action="@{/update_account.html/update}" th:method="post"
                                    onsubmit="return updateAdr()">
                                    <div class="modal-header border-0">
                                        <h3>Sửa địa chỉ</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="contact-form" class="contact-form">
                                            <div class="address-wrapper row">
                                                <div class="col-md-12">
                                                    <div class="address-fname">
                                                        <label class="control-label" for="f-name">Địa chỉ:<span
                                                                class="require errorsAdr"></span></label>
                                                        <textarea class="form-control" name="editAddress"
                                                            id="editAddress" placeholder=""></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer text-right">
                                        <button class="btn btn-success text-white" id="updateAddress"
                                            onclick="updateAdr()">Sửa</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Update End -->
                </div>
            </div>

        </div>

        <!-- Register Account End -->
    </div>
</body>

</html>