<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/user/layout::dynamic(~{::title},~{::header},~{::.content})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTNsBike | Mặt hàng yêu thích</title>
</head>
<body>
    <header th:insert="~{/user/common/header::header}"></header>
    <div class="content">
           <!-- Breadcrumb Start -->
        <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li class="active"><a href="product_favorite.html">Mặt hàng yêu thích</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Wish List Start -->
        <div class="cart-main-area wish-list ptb-20 ptb-sm-60 mb-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Form Start -->
                        <form action="#">
                            <!-- Table Content Start -->
                            <div class="table-content table-responsive">
                                <table class="table table-hover">
                                    <thead style="background-color:orangered;">
                                        <tr class="text-white">
                                            <th>Hình ảnh</th>
                                            <th>Sản phẩm</th>
                                            <th>
                                               <a href="#" class="text-white">
                                                    <i class="fa fa-cart-plus" aria-hidden="true"></i> Thêm vào giỏ hàng
                                               </a>
                                            </th>
                                             <th>Bỏ thích</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                           
                                            <td>
                                                <a href="#"><img th:src="@{/user/img/products/6.jpg}" alt="cart-image" width="72px;"></a>
                                            </td>
                                            <td><a href="#" class="text-dark">Vestibulum suscipit</a></td>
                                            <td><a href="#" class="btn btn-danger">Thêm ngay</a></td>
                                             <td> <a href="#" class="text-dark"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                        </tr>
                                        <tr>
                                           
                                            <td>
                                               <a href="#"><img th:src="@{/user/img/products/22.jpg}" alt="cart-image" width="72px;"></a>
                                            </td>
                                            <td><a href="#" class="text-dark">Vestibulum dictum magna</a></td>
                                            <td><a href="#" class="btn btn-danger">Thêm ngay</a></td>
                                             <td> <a href="#" class="text-dark"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Table Content Start -->
                        </form>
                        <!-- Form End -->
                    </div>
                </div>
                 <div class="row mt-3">
                               <!-- Cart Button Start -->
                               <div class="col-md-10 col-sm-12"></div>
                                <div class="col-md-2 col-sm-12">
                                    <div class="buttons-cart">
<!--                                         <input type="submit" value="Cập nhật giỏ hàng"> -->
                                        <a href="shop.html">Tiếp tục mua hàng</a>
                                    </div>
                                </div>
                                <!-- Cart Button Start -->
                            </div>
                <!-- Row End -->
            </div>
        </div>
        <!-- Wish List End -->
    </div>
</body>
</html>