<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/user/layout::dynamic(~{::title},~{::header},~{::.content})}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J6TEAM | Cập nhật tài khoản</title>
</head>

<body>
    <header th:insert="~{/user/common/header::header}"></header>
    <div class="content">
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li class="active"><a href="register.html">Cập nhật tài khoản</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Register Account Start -->
        <div class="contact-area ptb-sm-60 mt-5 mb-3">
            <div class="container">
                <form th:action="@{/update_account.html}" method="post" th:object="${updateAccount}"
                    enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="mb-20" id="tableAddress">THÔNG TIN TÀI KHOẢN</h3>
                            <th:block th:if="${message}!=null">
                                <div th:class="|${alert} alert|" th:text="${message}" role="alert"></div>
                            </th:block>
                            <p class="text-capitalize mb-20">Lưu ý: Những trường (*) là bắt buộc.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div id="contact-form" class="contact-form">
                                <div class="address-wrapper row">
                                    <div class="col-md-12">
                                        <div class="address-fname">
                                            <label class="control-label" for="f-name"><span class="require">*</span>Họ
                                                tên: <span class="require" th:errors="*{fullname}"></span></label>
                                            <input class="form-control" th:field="*{fullname}" placeholder="Họ tên...">

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="address-email">
                                            <label class="control-label" for="f-name"><span
                                                    class="require">*</span>Email:
                                                <span class="require" th:errors="*{email}"></span></label>
                                            <input class="form-control" th:field="*{email}" placeholder="Email...">

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="address-web">
                                            <label class="control-label" for="f-name"><span class="require">*</span>Số
                                                điện
                                                thoại: <span class="require" th:errors="*{phone}"></span></label>
                                            <input class="form-control" th:field="*{phone}"
                                                placeholder="Số điện thoại...">

                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-2 text-right" id="messageAdr">
                                        <input value="Cập nhật" class="btn btn-primary" type="submit">
                                        <a class="btn btn-warning" th:href="@{/update_account.html}">Làm mới</a>
                                    </div>
                                </div>
                            </div>
                            <p class="form-message">

                        </div>
                        <div class="col-4" ng-controller="userImage">
                            <div id="contact-form" class="contact-form">
                                <div class="address-wrapper row">
                                    <div class="col-md-12">
                                        <label class="control-label" for="f-name"><span class="require">*</span>Ảnh đại
                                            diện</label>
                                        <!-- <div class="address-fname d-flex" ng-repeat="filename in filenames">
                                            <img ng-src="{{url(filename)}}"
                                                style="height:300px; width: 300px">
                                        </div> -->
                                        <div class="address-fname d-flex">
                                            <!-- <img ng-src="{{photo}}" alt="" style="height:300px; width: 300px"> -->
                                            <img th:src="@{|/uploads/accountImg/*{photo}|}"
                                                style="height:300px; width: 300px" id="previewImage">
                                            <input type="hidden" th:field="*{photo}">
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-2">
                                        <div class="address-fname d-flex">
                                            <input type="file" accept="image/*" name="newPhoto" id="fileInput"
                                                onchange="angular.element(this).scope().upload(this.files)">
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-12 mt-2 " >
                                        <input value="Cập nhật" class="btn btn-primary" type="submit">
                                        <a class="btn btn-warning">Làm mới</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

                <div class="row" ng-controller="updateAddressCtrl">
                    <div class="col-12">
                        <h3 class="mb-20">Danh sách địa chỉ</h3>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="w-10">
                                            <a style="text-decoration: none;" class="text-dark d-flex">
                                                STT
                                            </a>
                                        </th>
                                        <th class="w-50">
                                            <a style="text-decoration: none;" class="text-dark">
                                                Địa chỉ
                                            </a>
                                        </th>
                                        <th class="w-25">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="list in addressList">
                                        <td>{{ $index + 1 }}</td>
                                        <td>{{ list.address }}</td>
                                        <td>
                                            <a class="text-primary" data-toggle="modal" data-target="#addressModal"
                                                 ng-click="updateModel($index)"
                                                style="font-size: 28px;text-decoration: none;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path
                                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                <path fill-rule="evenodd"
                                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                            </svg>
                                            </a>
                                            <a ng-if="addressList.length > 1" class="text-danger"
                                                ng-show="addressList.length>1"
                                                ng-click="confirmRemove($index)" style="font-size: 28px;text-decoration: none;">
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path
                                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                    <path fill-rule="evenodd"
                                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr ng-if="addressList.length === 0">
                                        <td colspan="3">Không có dữ liệu</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>
                                            <a href="#" style="text-decoration: none;" class="text-dark">
                                                STT
                                            </a>
                                        </th>
                                        <th>
                                            <a href="#" style="text-decoration: none;" class="text-dark">
                                                Địa chỉ
                                            </a>
                                        </th>
                                        <th>
                                            <a data-toggle="modal" data-target="#addressModal" class="text-success"><i
                                                    class="fa fa-plus-circle " aria-hidden="true"></i> Thêm địa chỉ</a>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        
                    </div>
                    <!-- Modal Delete -->
                    <div class="modal" id="addressDel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered ">
                            <div class="modal-content shadow border-0 rounded">
                                <div class="modal-body text-center ">
                                    <i class="far fa-question-circle text-warning" style='font-size: 60px;'></i>
                                    <p class='py-1'>Bạn có chắc chắn xóa địa chỉ này ?</p>
                                    <div class='d-flex justify-content-end'><button
                                            class='btn btn-outline-primary mr-3'
                                            ng-click="delAddress()">Có</button><button
                                            class='btn btn-outline-dark mr-3' data-dismiss='modal'>Trở
                                            lại</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                   

                    <!-- Model API ĐỊA CHỈ-->
                    <div class="modal fade" id="addressModal" tabindex="-1" data-backdrop="static"
                    data-keyboard="false" aria-hidden="true">
                    <div class="modal-dialog  modal-lg modal-dialog-scrollable ">
                        <div class="modal-content ">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel" ng-show="add">Tạo địa chỉ
                                </h5>
                                <h5 class="modal-title" id="exampleModalLabel" ng-show="update">Cập nhật địa
                                    chỉ</h5>
                            </div>
                            <div class="modal-body ">
                                <div class="container">
                                    <form method="post" class="position-relative" name="af">
                                           
                                        <div class="row mt-2">
                                            <div class="form-group col-12 col-md-4">
                                                <div class="form-group">
                                                    <label class="font-weight-bold text-dark">*Tỉnh/Thành
                                                        phố</label>
                                                    <select class="selectpicker form-control"
                                                        title="Chọn Tỉnh" name="province" id="province"
                                                        data-live-search="true" data-size="5"
                                                        ng-model="selectProvince"
                                                        ng-options="y.code as y.name for y in provinceList"
                                                        ng-change="getdistrict()"
                                                        ng-required="reqProvince"></select>
                                                    <span class="require"
                                                        ng-show="af.province.$error.required">Vui
                                                        lòng chọn tỉnh</span>
                                                </div>
                                            </div>
                                            <div class="form-group col-12 col-md-4">
                                                <div class="form-group">
                                                    <label
                                                        class="font-weight-bold text-dark">*Huyện/Quận</label>
                                                    <select class="selectpicker form-control"
                                                        title="Chọn Huyện" ng-model="selectDistrict"
                                                        data-live-search="true" data-size="5"
                                                        ng-options="y.code as y.name for y in districtList"
                                                        ng-change="getward()" name="district" id="district"
                                                        ng-required="reqDistrict">
                                                    </select>
                                                    <span class="require"
                                                        ng-show="af.district.$error.required">Vui
                                                        lòng chọn Huyện</span>
                                                </div>
                                            </div>
                                            <div class="form-group col-12 col-md-4">
                                                <div class="form-group">
                                                    <label
                                                        class="font-weight-bold text-dark">*Xã/Phường</label>
                                                    <select class="selectpicker form-control"
                                                        title="Chọn Xã" ng-model="selectWard"
                                                        data-live-search="true" data-size="5"
                                                        ng-options="y.code as y.name for y in wardList"
                                                        name="ward" id="ward" ng-required="reqWard"
                                                        ng-change="refeshList()">
                                                    </select>
                                                    <span class="require"
                                                        ng-show="af.ward.$error.required">Vui
                                                        lòng chọn Xã</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <label class="font-weight-bold text-dark">*Địa chỉ cụ
                                                    thể</label>
                                                <textarea class="form-control " placeholder="Địa chỉ cụ thể"
                                                    ng-model="address.adr" name="adr" id="adr"
                                                    ng-required="reqAdr"></textarea>
                                                <span class="require" ng-show="af.adr.$error.required">Vui
                                                    lòng nhập địa chỉ cụ thể</span>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" ng-click="back()"
                                    data-dismiss="modal">Trở
                                    lại</button>
                                <button type="button" class="btn btn-primary" ng-show="add"
                                    ng-click="addAddress()">Thêm
                                    địa chỉ</button>
                                <button type="button" class="btn btn-primary" ng-show="update"
                                    ng-click="updateAddress()">Cập nhật</button>
                            </div>

                        </div>
                    </div>
                </div>
                    <!--  -->
                </div>

            </div>

            <!-- Register Account End -->
        </div>
</body>

</html>